<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>QR Scanner!</h1>

    <form action="/scan" method="POST">
        <input name="url" type="text" placeholder="URL">
        <input type="submit" value="Get QR">
    </form>
</body>
</html>
